@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  margin-top: 4%;
}

.content {
  flex: 1; /* Make the content take up space */
  padding: 20px;
  text-align: left; /* Align text to the left for a similar look */
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #333333; /* Charcoal color */
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #666666; /* Slightly lighter text color for the description */
  margin-bottom: 40px;
}

.contactBtn {
  background-color: #6C63FF; /* Adjust color as needed */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  display: inline-block;
  margin-top: 20px;
}

.imageContainer {
  flex: 1; /* Adjust flex to fit the layout */
  position: relative;
  max-width: 650px;
  height: 700px; 
  overflow: hidden;
  border-radius: 6px;
  margin-left: 20%; /* Apply 20% margin left */
}

.slideshow {
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: scroll 15s linear infinite;
}

.heroImg {
  flex: 0 0 95%;
  height: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 8px;
}

@keyframes scroll {
  0%, 10%, 25% {
    transform: translateY(0);
  }
  30%, 45%, 60% {
    transform: translateY(-100%);
  }
  65%, 80%, 95% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-300%);
  }
}