@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  margin-top: 4%;
}

.content {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #666666;
  margin-bottom: 40px;
}

.contactBtn {
  background-color: #6C63FF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  display: inline-block;
  margin-top: 20px;
}

.imageContainer {
  flex: 1;
  position: relative;
  max-width: 650px;
  height: 700px;
  overflow: hidden;
  border-radius: 6px;
  margin-left: 20%;
}

.slideshow {
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: scroll 15s linear infinite;
}

.heroImg {
  flex: 0 0 95%;
  height: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 8px;
}

@keyframes scroll {
  0%, 10%, 25% {
    transform: translateY(0);
  }
  30%, 45%, 60% {
    transform: translateY(-100%);
  }
  65%, 80%, 95% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-300%);
  }
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 40px;
  }

  .description {
    font-size: 16px;
  }

  .contactBtn {
    padding: 8px 16px;
  }

  .imageContainer {
    height: 600px;
  }
}

@media screen and (max-width: 992px) {
  .title {
    font-size: 36px;
  }

  .description {
    font-size: 14px;
  }

  .contactBtn {
    padding: 6px 12px;
  }

  .imageContainer {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .content {
    padding: 10px;
    text-align: center;
  }

  .title {
    font-size: 32px;
  }

  .description {
    font-size: 14px;
  }

  .contactBtn {
    padding: 6px 12px;
  }

  .imageContainer {
    max-width: 100%;
    margin-left: 0;
    height: 400px;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 28px;
  }

  .description {
    font-size: 12px;
  }

  .contactBtn {
    padding: 4px 8px;
  }

  .imageContainer {
    height: 300px;
  }
}
