@import "../../vars.css";

.navbar { 
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  z-index: 2;
  margin: 0 auto; /* Center the navbar */
}

.logoLink {
  cursor: pointer;
}

.logo {
  height: 70px; 
}

.title {
  font-family: 'Montserrat', sans-serif; /* Modern and clean font */
  font-size: 40px;
  font-weight: 600;
  color: #333333; /* Charcoal color */
  background: linear-gradient(90deg, #1E90FF, #333333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  align-items: center;
}

.menuBtn {
  display: none;
}

.menuitems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuitems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

.authButtons {
  display: flex;
  gap: 1rem;
  font-weight: 600;
}

.authButton {
  text-decoration: none;
  color: var(--color-text);
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
}

.authButtonB {
  text-decoration: none;
  color: white;
  background-color: var(--color-accent);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navIcon {
  height: 40px;
  width: auto;
  border-radius: 10px;
  cursor: pointer;
}

/* Responsive styling */
@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    height: 50px; /* Adjust logo size for smaller screens */
  }

  .title {
    font-size: 32px; /* Adjust title size for smaller screens */
  }

  .authButton {
    display: none;
  }

  .menu {
    position: absolute;
    right: 0px;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuitems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 100);
    background: linear-gradient(0deg, 
      rgba(25, 55, 100, 0.2) 0%, 
      rgba(25, 55, 100, 1) 100% 
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }

  .authButtons {
    position: absolute;
    top: 70px;
    right: 10%;
    flex-direction: column;
    gap: 10px;
    z-index: 3;
  }
}
