@import '../../vars.css';

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  gap: 1rem;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: hidden;
}

.searchField {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 20%; /* Make search field take full width */
  margin: 0 auto;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  flex-grow: 1; /* Allow input to grow and fill available space */
}

.icon {
  width: 16px;
  height: 16px;
}

.scrollArea {
  height: 750px;
  overflow-y: hidden;
  width: 100%; /* Make scroll area take full width */
}

.serviceGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 1rem;
  width: 100%; /* Make grid take full width */
}

.serviceItem {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  text-align: center;
  background-color: #f9f9f9;
}
