.authContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-bg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 5%;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  color: var(--color-primary);
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  font-family: var(--font-primary);
}

.authButton {
  background-color: var(--color-accent);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-primary);
  margin-top: 10px;
}

.authButton:hover {
  background-color: darken(var(--color-accent), 10%);
}

.toggle {
  margin-top: 20px;
}

.toggleButton {
  background: none;
  border: none;
  color: var(--color-accent);
  cursor: pointer;
  text-decoration: underline;
  font-family: var(--font-primary);
}
